NODE_ENV=production
APP_DOMAIN=localhost

POSTGRES_DB=falconarena
POSTGRES_USER=falcon
POSTGRES_PASSWORD=change_me

BACKEND_PORT=4000
PRISMA_SYNC_MODE=dbpush

JWT_SECRET=change_me
VITE_API_URL=http://localhost
